body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
}

.game {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 3px dotted lightblue;
}
.cell:hover {
  background-color: lightblue;
}

.player-turn {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  text-align: center;
}
